@media (max-width: 1350px){
	#img_logo {
		margin-top: 10px;
	}

	.menu{
		flex-direction: column;
	}

	nav{
    	margin-top: 10px;
		margin-bottom: 10px;
	}
}

@media (max-width: 1135px) {
	.acerca_de_nosotros{
		width: 100vw;
	}

	.seccion_1{
		width: 50vw;
	}

	.acerca_de_nosotros p img{
		width: 50vw;
	}

	.acerca_de_nosotros iframe{
		width: 80vw;
		height: 500px;
	}
}

@media (max-width: 1030px){
	.menu{
		flex-direction:row;
	}

	nav{
		margin-right: 20px;
	}

	ul{
		display: block;
		text-align: left;
	}

	.li_ultimo{
		margin-bottom: 0px;
	}

	nav li{
		margin-bottom: 20px;
	}

	nav li a{
		font-size: 1.5rem;
	}

	.acerca_de_nosotros .texto{
		font-size: 1.7rem;
		text-align: left;
		margin-left: 40px;
		margin-right: 40px;
	}

	.seccion_1{
		width: 100vw;
	}

	.acerca_de_nosotros p img{
		margin: 20px 0px 10px 0px;
		width: 50vw;
	}
}

/* productos */
@media (max-width: 820px){
	.productos img{
		width: 30vw;
	}

	.productos p{
		font-size: 1.3rem;
	}

	.acerca_de_nosotros .texto{
		margin: 0px 50px 0px 50px;
	}
}
@media (max-width: 720px){
	/* acerca de nosotros */
	.acerca_de_nosotros iframe{
		width: 80vw;
	}

	/* productos */

	.productos p{
		font-size: 1.5rem;
	}

	.texto {
		order: 2;
	}

	.DeRenta,.GallinaWare,.VisoviLegal{
		display:grid;
	}

	.productos .GallinaWare img{
		width: 40vw;
	}

	.productos .DeRenta img{
		width: 50vw;
		margin-bottom: 20px;
	}

	.productos .VisoviLegal img{
		width: 350px;
		margin-bottom: 20px;
		margin-right: 0px;
	}
}

@media (max-width: 567px){
	.productos p{
		text-align: center;
	}

	.DeRenta img{
		width:60vw;
	}

	.GallinaWare img{
		width:50vw;
	}
}

@media (max-width: 540px){
	nav{
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	nav li{
		margin-bottom: 10px;
	}

	.menu{
		display:grid;
	}

	.menu p{
		margin: 0 auto;
	}
}

@media (max-width: 500px){
	.DeRenta img{
		width: 65vw;
	}

	.GallinaWare img{
		width: 55vw;
	}

	.acerca_de_nosotros p img{
		width: 95vw;
	}

	.acerca_de_nosotros iframe{
		width: 90vw;
		height: 300px;
	}

	.acerca_de_nosotros .texto{
		font-size: 1.3rem;
	}
}

@media (max-width: 420px){
	.productos .VisoviLegal img{
		width: 70vw;
	}
}

@media (max-width: 400px){
	nav li a{
		font-size: 1.3rem;
		margin-right: 0px;
	}
	
	.DeRenta img{
		width: 70vw;
	}

	.GallinaWare img{
		width: 60vw;
	}

	.productos p{
		font-size: 1.4rem;
	}

	.acerca_de_nosotros .texto{
		font-size: 1.5rem;
	}
}
