*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    color: white;
	font-family: 'Fredericka the Great', cursive; 
	/* font-size: 18px; */
}

header{
	max-width: 100vw;
	background-color: #111F3C;
}

body{
	background-image: url('..//Imagen/Fondo\ Fosca.jpeg');
	background-size: cover;
	backdrop-filter: blur(6px);
	background-repeat: no-repeat;
}

main{
	background-color: rgba(83, 48, 48, 0.5);
	min-height: 100vh;
	border-top: 3px  dotted#111F3C;
	border-bottom: 3px  dotted#111F3C;
}

#img_logo {
	width: 230px;
}

.menu{
    display: flex;
	flex-wrap: wrap;
}

.menu p{
	display: flex;
	align-items: center;
	margin: 0px 0px 0px 20px;
}

/*Lista de menu horizontal*/

nav{
	background-color: transparent;
	border-radius: 10px;
	padding: 15px;
	margin-top: 40px;
	margin-bottom: 40px;
}

/* nav a:hover{
	background-color: #2b3a5a;
	border-radius: 5px;
	padding: 15px 30px 15px 30px!important;
	margin-right: 10px;
	color:white; 
	transition: all 300ms;
} */

nav li a {
    text-decoration: none;
    color: white;
	width: 10px;
    font-size: 1.3rem;
	font-family: 'Exo 2', sans-serif;
}

nav ul li::before{
	content: "";
	height: 4px;
	width: 0%;
	background: white;
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.2s ease-out;
}

nav ul li:hover::before{
	width: 100%;
}

.actual::before{
	width: 100%;
}

nav ul li{
	position: relative;
	margin: 0 20px;
}

ul{
	display: flex;
	text-align: center;
	list-style: none;
	padding: 0px 10px 0px 10px
}

.li_ultimo a{
    padding-right: 0px;
}

#back_menu, #btn_menu, #btn_exit{
	display: none;
}

/* menu productos */
.container-all{
	padding-top: 50px;
	display: flex;
	align-items: center;
	transition: all 1000ms;
}

.container-box{
	display: flex;
	/* flex-wrap: wrap; */
	padding: 40px;	
	margin-top: 20px;
	margin-bottom: 20px;
	/* min-height: 250px; */
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.311);
}

.box{
	width: auto;
	max-height: 30vh;
	/* height: auto; */
	padding: 20px;
	margin: 0px 20px 0px 20px;
	border: 3px  dotted#111F3C;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.69);
	text-align: center;
	position: relative;
	overflow:hidden;
	cursor: default;
}

.imgVisoviLegal{
	width: 17vw;
}

#sqrVisoviLegal{
	background-color: rgba(17, 31, 60, 0.3);
}

/* #sqrVisoviLegal a{
	display: none;
}

.box:active .container-box #sqrVisoviLegal a{
	display: flex;
} */

.imgGallinaWare{
	width: 10vw;
	translate: 0px -35px;
}

#sqrGallinaWare{
	background-color: #f4a76c55;
}

#cirGallinaWare{
	background-color: #f4a76c;
}

.imgDeRenta{
	width: 17vw;
	translate: 0px -50px;
}

#sqrDeRenta{
	background-color: #a4b20d68;
}

#cirDeRenta{
	background-color: white;
}

#cirFollajes{
	background-color: #68bd5c;
}

#sqrFollajes{
	background-color: #113c309a;
}

.imgFollajes{
	width: 15vw;
	translate: 0px -70px;
}

.box:hover .imgFollajes{
	transition: .5s;
	width: 9vw;
	transform: translateY(50px);
}
.box:hover .imgGallinaWare{
	transition: .5s;
	width: 8vw;
	transform: translateY(15px);
}

.texto{
	margin-top: -30px;
}

#texto2{
	margin-top: -20px;
}

#texto2 p, #link2, #texto3 p{
	color: black;
}

#texto3{
	margin-top: -30px;
}

.box:hover .imgDeRenta {
	transition: .5s;
	width: 11vw;
	transform: translateY(40px);
}

/* .box:hover{
	transform: translate(20px, -20px);
	box-shadow: -5px 10px 20px -5px white;
} */

.box, h4, .box p{
	position: relative;
	color: black;
	font-family: Georgia, 'Times New Roman', Times, serif;
	z-index: 1;
	transition: .5s;
}

.box p{
	position: relative;
	margin-top: 10px;
	font-size: 1rem;
	transform: translateY(100px);
	opacity: 0;
	color: white;
}

.link{
	font-style: oblique;
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-decoration:underline;
}

.box:hover p{
	transform: translateY(0);
	opacity: 1;
}

.box h4{
	transform: translateY(50px);
}

.box:hover h4{
	transform: translateY(0);
}

.box .background-hover{
	background-color: #111f3cf0;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 250px;
	left: -170px;
	border-radius: 100%;
	transition: all 300ms;
	z-index: 0;
}

.box:hover .background-hover{
	width: 800px;
	height: 800px;
	top: -150px;
	left: -100px;
	z-index: 0;
}

/* footer */

footer{
	background-color: #111F3C;
	min-height: 50px;
	max-width: 100vw;
}

footer p {
    color:white;
	text-align: right;
	margin-right: 10px;
}

/*productos*/
.DeRenta{
	background-color: #a4b20d22;
}

#linkDeRenta{
	color: #a8afbe;
}

.VisoviLegal{
	background-color: rgba(17, 31, 60, 0.3);
}

.Follajes{
	background-color: #42b8974a
}

.Follajes p a img{
	width: 20vw;
}

.productos .DeRenta img{
	width: 27vw;
}

.GallinaWare{
	background-color: #f4a76c55;
}

.productos .GallinaWare img{
	width: 20vw;
}

.DeRenta,.GallinaWare,.VisoviLegal, .Follajes{
	display: flex;
	margin: 40px 20px 40px 20px;
	padding: 40px 20px 40px 20px;
	border: 3px  dotted#111F3C;
	border-radius: 25px;
}

.productos p{
	font-size: 1.4rem;
}

.productos img{
	width: 30vw;
	padding: 0px; 
}

.VisoviLegal img , .DeRenta img{
	margin-right: 20px;
}

.VisoviLegal p{
	display: flex;
	align-items: center;
}

/* Follajes */
.imagenes{
	display: flex;
}

.imagenes img{
	width: 80vw;
}

/* GallinaWare */

main #gallinas img{
	width: 50vw;
}

/* Acerca de Nosotros */

.acerca_de_nosotros{
	width: 50vw;
	font-size: 1.4rem;
}

.acerca_de_nosotros .texto{
	text-align: center;
}

.acerca_de_nosotros img{
	width: 40vw;
	margin: 20px 0px 20px 0px;
	border-top-left-radius: 30px;
  	border-bottom-right-radius: 30px;
	border: 20px double #111F3C;
}

.acerca_de_nosotros iframe{
	width: 40vw;
	height: 400px; 
	border:0;
	margin: 40px 0px 40px 0px;
}